.first-page{
  background-image: url("./fundo.jpg") !important;
}

.second-page{
  background-image: url("./fundo.jpg") !important;
}

.third-page{
  background-image: url("./fundo.jpg") !important;
}

.balao-fundo{
  background-image: url("./balao175.png") !important;
}